/* You can add global styles to this file, and also import other style files */
@import "../../../libs/shared-ui/assets/scss/shared-core.styles";
@import "../../../libs/dash-ui/assets/scss/dash-core.styles";
@import "../../../libs/shared-ui/assets/scss/variables/index";
@import "../../../libs/shared-ui/assets/scss/theme/default-theme";

.mat-selected {
  background-color: rgba(var(--primaryValues), 0.3);
  &:hover {
    background-color: rgba(var(--primaryValues), 0.4) !important;
  }
  &:focus {
    background-color: rgba(var(--primaryValues), 0.4) !important;
  }
}
