<div class='app-layout'>
  <header class='top-nav'>
    <app-top-navigation></app-top-navigation>
  </header>
  <aside class='side-nav'>
    <app-side-navigation></app-side-navigation>
  </aside>
  <aside class='file-nav'>
    <app-file-navigation></app-file-navigation>
  </aside>
  <main class='content-container'>
    <div class='content-nav'></div>
    <div class='content'>
      <router-outlet></router-outlet>
    </div>
  </main>
  <section class='bottom-content'></section>
  <section class='bottom-nav'>
    <app-bottom-navigation></app-bottom-navigation>
  </section>
  <footer class='info-container'></footer>
</div>
