.app-layout {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1.5rem minmax(max-content, 1fr) 4fr;
  grid-template-rows: 2rem 3fr 2rem 1.5rem;
  grid-template-areas:
  "topNav topNav topNav"
  "sideNav fileNav content"
  "bottomContent bottomContent bottomContent"
  "bottomNav bottomNav bottomNav";
}

.top-nav {
  border: 1px solid black;
  grid-area: topNav;
}

.side-nav {
  border: 1px solid black;
  grid-area: sideNav;
}

.file-nav {
  border: 1px solid black;
  grid-area: fileNav;
}

.content-container {
  border: 1px solid black;
  grid-area: content;
  display: grid;
  grid-template-rows: 4rem 1fr;
}
.content-nav {
  border: 1px solid black;
}

.bottom-content {
  border: 1px solid black;
  grid-area: bottomContent;
}

.bottom-nav {
  border: 1px solid black;
  grid-area: bottomNav;
}
