.app-layout {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1.5rem minmax(max-content, 1fr) 4fr;
  grid-template-rows: 2rem 3fr 0 1.5rem 1.5rem;
  grid-template-areas:
  "topNav topNav topNav"
  "sideNav fileNav content"
  "bottomContent bottomContent bottomContent"
  "bottomNav bottomNav bottomNav"
  "bottomInfo bottomInfo bottomInfo";
}

.close-file-navigation {
  grid-template-columns: 1.5rem 0 4fr;
}

.top-nav {
  border: 1px solid black;
  grid-area: topNav;
}

.side-nav {
  border: 1px solid black;
  grid-area: sideNav;
}

.file-nav {
  border: 1px solid black;
  grid-area: fileNav;
  max-height: calc(100vh - 5rem); // 5rem = 2rem + 1.5rem + 1.5rem = top nav + bottom nav + bottom info
}

.content-container {
  border: 1px solid black;
  grid-area: content;
  display: grid;
  grid-template-rows: max-content 1fr;
}
.content-nav {
  border: 1px solid black;
}

.content {
  padding: 1rem;
}

.bottom-content {
  border: 1px solid black;
  grid-area: bottomContent;
}

.bottom-nav {
  border: 1px solid black;
  grid-area: bottomNav;
}

.info-container {
  border: 1px solid black;
  grid-area: bottomInfo;
}
