<ng-container *ngIf='activeSpaces | async as spaces'>
  <div
    class='app-layout'
    [class.close-file-navigation]='spaces.activeSpacesSide.length === 0'
    [class.open-bottom-navigation]='spaces.activeSpacesBottom.length > 0'
  >
    <header class='top-nav'>
      <app-top-navigation></app-top-navigation>
    </header>
    <aside class='side-nav'>
      <app-side-navigation></app-side-navigation>
    </aside>
    <aside class='file-nav'>
      <app-file-navigation
        [activeSpaces]='spaces.activeSpacesSide'
      ></app-file-navigation>
    </aside>
    <main class='content-container'>
      <div class='content-nav'>
        <app-content-navigation></app-content-navigation>
      </div>
      <div class='content'>
        <router-outlet></router-outlet>
      </div>
    </main>
    <section class='bottom-content'></section>
    <section class='bottom-nav'>
      <app-bottom-navigation
        [activeSpaces]='spaces.activeSpacesBottom'
      ></app-bottom-navigation>
    </section>
    <footer class='info-container'></footer>
  </div>
</ng-container>
