<nav class="vertical-nav">
  <div class="vertical-navigation">
    <button
      dash-button
      class="vertical-tab"
      (click)='updateActiveSpaces("projects")'
    >
      <small class='flex-center'>
        <mat-icon class='icon-sm'>folder</mat-icon>
        1: Project
      </small>
    </button>

    <button
      dash-button
      class="vertical-tab"
      (click)='updateActiveSpaces("blog")'
    >
      <small class='flex-center'>
        <mat-icon class='icon-sm'>folder</mat-icon>
        2: Blog
      </small>
    </button>
  </div>
</nav>
