<nav class="vertical-nav">
  <ng-container *ngIf='navItems.length > 0'>
    <div class="vertical-navigation">
      <ng-container *ngFor='let navItem of navItems; let idx = index'>
        <button
          dash-button
          [ngClass]="'vertical-tab vertical-' + side"
          (click)='updateActiveSpaces(navItem.path, side)'
        >
          <small class='flex-center'>
            <mat-icon class='icon-sm'>folder</mat-icon>
            {{idx + 1}}: {{navItem.name}}
          </small>
        </button>
      </ng-container>
    </div>
  </ng-container>
</nav>
