<section class='todo-container'>
  <mat-toolbar color='primary' class='flex-center mb-4'>
    <h1>Simple ToDo</h1>
  </mat-toolbar>
  <mat-card>
    <mat-card-content>
      <ng-container *ngFor='let todo of (todos$ | async)'>
        <div class='single-todo' [class.complete]='todo.isComplete' (click)='updateTodo(todo)'>
          <div class='circle' [class.filled]='todo.isComplete'></div>
          <p class='text-center'>{{todo.title}}</p>
          <button dash-button color='primary' buttonType='icon'>
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </ng-container>
    </mat-card-content>
  </mat-card>
</section>
